spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  data:
    redis:
      host: localhost
      port: 6379
      key:
        refresh_token_base : "auth:refresh:"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/prompt_battle?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  jwt:
    access-token:
        secret: promptBattle4n5rud08092220251118AccessTokenSecret
        expiration: 36000000000000 # 1 시간
    refresh-token:
        secret: promptBattle4n5rud08092220251118RefreshTokenSecret
        expiration: 6048000000000000 # 7 일
